.containerQ {
  margin-left: 150px;
  padding-top: 45px;
  max-width: 50%;
  font-weight: bold;
}

@media only screen and (min-width: 375px) {
   .containerQ {
       margin-left: 170px;
   }
}

@media only screen and (min-width: 425px) {
   .containerQ {
       margin-left: 200px;
   }
}

@media only screen and (min-width: 768px) {
   .containerQ {
       margin-left: 380px;
       max-width: 30%;
   }
}

@media only screen and (min-width: 1024px) {
   .containerQ {
       margin-left: 500px;
       max-width: 25%;
   }
}

@media only screen and (min-width: 1440px) {
   .containerQ {
       margin-left: 725px;
       max-width: 15%;
   }
}