@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Source+Sans+Pro:wght@200;300;400;600&display=swap');

.about {
  background-color: black;
}
.bottom {
  background-color: black;
}

.biopic {
  width: 100%;
  height: 50vh;
  background-size: contain;
}

.quote {
  font-family: 'lato', sans-serif;
  display: block;
  font-size: 2vh;
  font-weight: 600;
  position: absolute;
  top: 19%;
  margin-right: 5%;
  color: black;
}

.aboutnav {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  right: 5%;
  color: #dee2e6;
  font-size: 4.5vh;
  padding-top: 4%;
  margin-bottom: -5%;
}

h6.bionav {
  color: #dee2e6;
  font-size: 4vh;
  line-height: 1.5;
}

.bio {
  display: inline-block;
  font-family: 'lato', sans-serif;
  font-size: 3vh;
  line-height: 1.2;
  color: #dee2e6;
  position: relative;
  margin-top: -20%;
  margin-bottom: 75%;
}

@media only screen and (min-width: 375px) {
  .quote {
    font-size: 2.1vh;
  }

  .bio {
    margin-top: -14%;
  }
}

@media only screen and (min-width: 425px) {
  .quote {
    font-size: 2.3vh;
  }
  .aboutnav {
    margin-bottom: 2%;
  }

  .bio {
    margin-top: -10%;
  }
}

@media only screen and (min-width: 768px) {
  h6.bionav {
    font-size: 4.5vh;
  }

  .biopic {
    height: 100vh;
    margin-top: -10%;
  }

  .quote {
    font-size: 3.7vh;
  }

  .bio {
    font-size: 4vh;
    margin-top: -18%;
  }
}

@media only screen and (min-width: 1024px) {
  .aboutnav {
    right: 7%;
  }

  h6.bionav {
    font-size: 5vh;
  }

  .biopic {
    height: 130vh;
  }

  .quote {
    margin-right: 10%;
    font-size: 4vh;
    line-height: 1.4;
  }

  .bio {
    font-size: 4vh;
    margin-top: -18%;
  }
}

@media only screen and (min-width: 1440px) {
  h6.bionav {
    font-size: 6vh;
  }

  .biopic {
    height: 140vh;
  }

  .quote {
    font-size: 4vh;
  }

  .bio {
    font-size: 4vh;
    margin-top: -20%;
  }
}

@media only screen and (min-width: 2560px) {
  h6.bionav {
    font-size: 6.5vh;
  }

  .biopic {
    height: 160vh;
    margin-top: -15%;
  }

  .quote {
    top: 25%;
    font-size: 4vh;
  }

  .bio {
    font-size: 4.5vh;
    margin-top: -25%;
  }
}
