@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Source+Sans+Pro:wght@200;300;400;600&display=swap');

.about {
  background-color: black;
}
.bottom {
  background-color: black;
}

.biopic {
  width: 100%;
  height: 50vh;
  background-size: contain;
}

.quote {
  display: inline-block;
  font-family: 'lato', sans-serif;
  font-size: 70%;
  font-weight: bolder;
  color: black;
}

.bio {
  display: inline-block;
  font-family: 'lato', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #e9ecef;
  margin-bottom: 100%;
  margin-top: -70px;
}
.aboutnav {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  font-size: 16px;
  margin-right: 15px;
}

h3.bionav {
  color: #e9ecef;
  margin-bottom: -10px;
}

@media only screen and (min-width: 768px) {
  
  .aboutnav {
    padding-top: 2%;
    padding-right: 3%;
    padding-bottom: 10%;
  }

  .biopic {
    height: 75vh;
  }

  .quote {
    font-size: 17px;
  }

  .bio {
    padding-top: 10%;
    font-size: 18px;
    margin-bottom: 50%;
  }

}

@media only screen and (min-width: 1024px) {
  
  .aboutnav {
    padding-right: 10%;
    font-size: 20px;
    padding-bottom: 5%;
  }

  .biopic {
    height: 100vh;
  }

  .quote {
    font-size: 20px;
    line-height: 1.4;
  }
  
  .bio {
    font-size: 20px;
    font-weight: bold;
  }
}
