@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Source+Sans+Pro:wght@200;300;400;600&display=swap');

.hero {
  width: 100%;
  height: 100vh;
}

.name {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 35px;
  color: #e4e7eb;
  text-align: center;
  padding-top: 20px;
  margin-bottom: -25px;
}

.description {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #e4e7eb;
  text-align: center;
}

.nav {
  display: inline-block;
  position: absolute;
  bottom: 17.5%;
  left: 2%;
  font-family: 'Source Sans Pro';
}

h5 {
  color: #dee2e6;
  font-size: 3vh;
  font-weight: 600;
  line-height: 1.6;
}

@media only screen and (min-width: 375px) {
  .name {
    font-size: 6vh;
  }

  .description {
    font-size: 3.5vh;
  }

  h5 {
    font-size: 3vh;
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    width: 100%;
    height: 140vh;
  }

  .name {
    font-size: 9vh;
  }

  .description {
    font-size: 5vh;
  }

  h5 {
    font-size: 4vh;
    font-weight: 300;
    font-weight: bold;
    line-height: 1.7;
  }
}

/* PICTURE CHANGES AT 1024PX (refresh page if in dev tools), NEW SET OF CONDITIONS BEGIN */

@media only screen and (min-width: 1024px) {
  .hero {
    width: 100%;
    height: 100vh;
  }

  .name {
    color: black;
    font-weight: 600;
    font-size: 10vh;
    position: absolute;
    top: 0%;
    right: 3%;
  }

  .description {
    color: black;
    font-weight: 400;
    position: absolute;
    top: 12%;
    right: 3%;
  }

  .nav {
    position: fixed;
    bottom: 2%;
    left: 2%;
  }

  h5 {
    color: black;
    font-weight: 600;
    font-size: 4vh;
  }
}

@media only screen and (min-width: 1440px) {
  .hero {
    height: 115vh;
  }

  .name {
    font-size: 11vh;
  }

  .description {
    font-size: 6vh;
  }
}

@media only screen and (min-width: 2560px) {
  .hero {
    height: 115vh;
  }

  .name {
    font-size: 11vh;
    font-size: 7vw;
  }

  .description {
    font-size: 6vh;
  }

  h5 {
    font-size: 6vh;
  }
}
