@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Sans+Pro:wght@200;300;400;600&display=swap');

.hero {
  width: 100%;
  height: 100vh; 
  background-size: cover;
  /* background-position: center; */
  /* background-repeat: no-repeat; */
}

.name {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: #e9ecef;
  text-align: center;
  padding-top: 20px;
  margin-bottom: -25px;
}

.description {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #e9ecef;
  text-align: center;
}

.nav {
  display: flex;
  align-content: flex-end;
  justify-content: space-around;
  margin-top: 490px;
  font-family: 'Source Sans Pro';
  font-weight: 600;
}

h5 {
  color: black;
  font-size: 17px;
  font-weight: bolder;
}

@media only screen and (min-width: 768px) {
  .name {
    font-size: 52px;
  }

  .description {
    font-size: 30px;
  }

  .hero {
    width: 100%;
    height: 875px;
  }

  .nav {
    display: inline-block;
    margin-top: 520px;
  }

  h5 {
    color: #e9ecef;
    font-size: 22px;
    font-weight: 300;
    margin: 15px;
  }
}
